<div class="container my-2">
    <form [formGroup]="forgotPassword" (ngSubmit)="onForgotForm()">
        <div class="form-group">
            <label for="">Email Address</label>
            <input type="text" class="form-control form-control-rounded" formControlName="email"
                [ngClass]="{ 'is-invalid': (sub || f.email.touched) && f.email.errors }">
            <div *ngIf="(sub || f.email.touched) && f.email.errors" class="invalid-feedback mx-2">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.invalidEmail">Invalid email address</div>
            </div>
        </div>

        <button class="btn-primary btn-rounded btn-block mt-3">
            Reset Password
        </button>
    </form>
</div>